# Prisma PostgreSQL connection
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@YOUR_HOST:5432/biro_umum_db?schema=public"

JWT_SECRET="change-this-to-a-random-string-at-least-32-characters"
JWT_EXPIRES_IN="8h"
FRONTEND_URL="http://localhost:5173"
TRUST_PROXY="false"
PRISMA_LOG="false"

# Optional Google SSO
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:4000/api/auth/google/callback"
